node_modules/
.env
.DS_Store
dist/
build/
*.log
.pnpm/
pnpm-lock.yaml
package-lock.json
yarn.lock
client/.env
server/.env
client/node_modules/
server/node_modules/
client/dist/
server/dist/
uploads/
server/uploads/
